venv
takina/__pycache__
takina/cogs/__pycache__
takina/cogs/fun/__pycache__
takina/cogs/libs/__pycache__
takina/cogs/listeners/__pycache__
takina/cogs/mod/__pycache__
takina/cogs/util/__pycache__
takina/cogs/weebism/__pycache__
.env
.ruff_cache