python-dotenv==1.0.1
onami==2.6.3
aiohttp==3.11.9
virtualenv==20.28.0
pymongo==4.10.1
motor==3.6.0
setuptools==75.6.0
distlib==0.3.9
filelock==3.16.1
platformdirs==4.3.6
audioop-lts==0.2.1
emoji==2.14.0

## nextcord stuff
git+https://github.com/nextcord/nextcord.git@master
nextcord-ext-help-commands==0.0.1
nextcord-ext-menus==1.5.7
# apparently these make nextcord faster
aiodns==3.2.0
Brotli==1.1.0
cchardet==2.1.7
orjson==3.10.12